* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--fontSecondary);
  box-sizing: border-box;
  color: white;
  background: var(--colorPrimary);
  font-size: 100%;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0 0 12px 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.83rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.12rem;
}

p {
  font-size: 0.83rem;
  line-height: 24px;
  padding: 0 0 8px 0;
}