.swoop-enter {
  opacity: 0;
  &-active {
    opacity: 1;
    transition: all .3s ease-in;
  }
}

.swoop-exit {
  opacity: 1;
  &-active {
    opacity: 0;
    transition: all .3s ease-out;
  }
}

.slide-enter {
  transform: translateX(100%);
  &-active {
    transform: translateX(0);
    transition: transform 3s ease;
  }
}

.slide-exit {
  transform: translateX(100%);
  &-exit-active {
    transform: translateX(0);
    transition: transform 1s ease;
  }
}