.swoop-enter {
  opacity: 0;
  &-active {
    opacity: 1;
    transition: all .3s ease-in;
  }
}

.swoop-exit {
  opacity: 1;
  &-active {
    opacity: 0;
    transition: all .3s ease-out;
  }
}

.slide-enter {
  transform: rotate(0deg);
  &-active {
    transform: rotate(90deg);
    transition: transform .3s ease-in;
  }
}

.slide-exit {
  transform: rotate(90deg);
  &-active {
    transform: rotate(0deg);
    transition: transform .3s ease-out;
  }
}