:root {
  // Colors
  --colorPrimary: #0067bb;
  --colorSecondary: #bea6a0;
  
  // Fonts
  --fontPrimary: 'Playfair Display', Times New Roman, serif;
  --fontSecondary: 'Lato', Helvetica, Arial, sans-serif;
}